/* Hero section styles */
.hero-section {
  background-image: url(../images/backgrounds/main-background.jpg);
  padding: 100px;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section > .top-heading {
  padding: 1px 20px;
  background-color: #fdf4f1;
  color: black;
  width: 290px;
  border-radius: 2px;
}

.hero-section > .bottom-heading {
  background-color: #cea135;
  color: #090c0f;
  padding: 1px 20px;
  margin-top: 15px;
  width: 107px;
  border-radius: 2px;
}

/* Features section styles */
.features-section {
  height: 400px;
  /* background-image: url(../images/backgrounds/background.jpg); */
  background-color: #fbded1;
  color: #090c0f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.features-section > .columns-wrapper {
  width: 100%vw;
  display: flex;
  justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
  padding: 20px;
  margin: 42px;
  text-align: center;
  transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
  font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
  font-size: 1.5em;
  font-style: italic;
  height: 50px;
  transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
  letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
  letter-spacing: 2px;
}
